.idea
.vscode
__pycache__
.ipynb_checkpoints
.pytest_cache
build
.DS_Store
*.pdf
*.gz
*.npy
*.ipynb
.coverage
*.html
*.pyc
.cache
cmake-build-debug
cmake-build-release
build*
/qsim_backup
/quasistatic_simulator_cpp/qsim_old
/quasistatic_simulator_cpp/bindings_backup
/quasistatic_simulator_cpp/tests_backup
